body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 100vw;
    height: 100vh;
    background-image: url(./image/background.jpg);
    background-size: cover; 
    color: white;
  }

  /* What kind of selector is this? */
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
  }
 
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
 
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
 
  /* This is an element within and element selector */ 
  nav > a {
    margin: 2% 5% 10%;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 25px;
    background: transparent;
    padding: 24px;
    text-align: center;
    border: 3px solid white;
    display: flex;
    flex-wrap: none;
  }
 
  .has-border {
    border-radius: 25px;
    border: 2px solid white;
    background: none;
    padding: 20px;
  }
 
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  a:visited {
    color: rgba(241, 10, 153, 0.938);
    background-color: transparent;
    text-decoration: none;
}
  /* This is an ID selector */
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
 
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid white;
    font-size: 70px;
  }
 
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
 
  .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }
 